@media screen and (max-width: 1520px) {
  .faq__title {
    margin-right: 0;
    font-size: 42px; } }

@media screen and (max-width: 1480px) {
  .take__list {
    width: 1010px; }
  .faq__item-body {
    font-size: inherit; } }

@media screen and (max-width: 1400px) {
  .case {
    width: 1199px; }
  .hidden-lg {
    display: block; }
  .hidden-md {
    display: none; }
  .mobile-btn {
    margin-left: -585px; }
  body {
    font-size: 22px; }
  .text {
    font-size: 22px; }
  .list li {
    line-height: normal; }
    .list li:before {
      top: 8px; }
  .about__img {
    max-width: 550px; }
  .importance__img {
    width: 700px; }
  .recommendations__desc {
    width: 600px;
    padding-top: 40px;
    padding-left: 40px; }
  .recommendations__text {
    padding-right: 15px;
    padding-left: 20px; }
  .desc {
    font-size: 30px;
    line-height: normal; }
  .wrap {
    margin-left: 0;
    margin-right: 0; }
  .decision__desc {
    width: 600px;
    line-height: normal;
    font-size: 26px;
    padding: 30px; }
  .decision__text {
    width: -webkit-calc(100% - 600px);
    width: calc(100% - 600px);
    padding-top: 0;
    padding-left: 30px; }
    .decision__text p {
      margin-bottom: 15px; }
  .advantages__left {
    position: relative;
    z-index: 3; }
  .advantages__img {
    width: 620px;
    bottom: -108px; }
  .count {
    display: none; }
  .title {
    font-size: 40px; }
  .composition__data {
    width: 650px; }
  .composition__img {
    width: 400px;
    margin-right: 0;
    margin-left: 35px; }
  .data__head .data__item {
    height: 80px; }
  .data__body .data__item {
    padding-top: 25px;
    padding-bottom: 25px; }
  .data__item {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .data__item:nth-of-type(1) {
      width: 190px; }
    .data__item:nth-of-type(3) {
      width: 175px; }
  .for__head {
    padding-bottom: 50px; }
  .for__item:nth-of-type(1), .for__item:nth-of-type(3) {
    width: 437px; }
  .for__wrap {
    padding-left: 0; }
  .description {
    padding-top: 40px; }
    .description__title {
      margin-bottom: 40px; }
    .description__nav {
      width: 520px; }
    .description__tabs {
      width: -webkit-calc(100% - 520px);
      width: calc(100% - 520px); }
  .take__item:nth-of-type(2) .take__text, .take__item:nth-of-type(4) .take__text {
    top: 70px; }
  .faq__title {
    font-size: 37px; }
  .footer {
    padding-bottom: 45px; }
    .footer__left {
      margin-right: 40px; }
    .footer__mid {
      width: 350px;
      margin-right: 40px; }
    .footer__address p {
      margin-bottom: 20px; }
    .footer__socials {
      margin-top: 75px; }
    .footer__desc {
      margin-right: 0;
      font-size: 26px;
      margin-top: 50px; }
  .product__item:nth-of-type(1) {
    left: 60px; }
  .product__item:nth-of-type(2) {
    right: 105px; }
  .product__item:nth-of-type(3) {
    top: 635px; }
  .product__item:nth-of-type(5) {
    top: 652px; } }

@media screen and (max-width: 1220px) {
  .case {
    width: 950px; }
  .hidden-lg {
    display: block; }
  .hidden-md {
    display: none; }
  .mobile-btn {
    margin-left: -460px;
    top: 35px; }
  .header {
    padding-top: 35px;
    padding-bottom: 50px;
    background-position: center -60px; }
    .header__title {
      margin-bottom: 30px; }
    .header__desc {
      margin-bottom: 30px; }
    .header__text {
      margin-bottom: 30px; }
  .nav {
    height: 574px;
    padding-top: 90px;
    -webkit-transform: translateY(-850px);
        -ms-transform: translateY(-850px);
            transform: translateY(-850px); }
    .nav_toggle {
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px); }
    .nav li {
      font-size: 22px;
      margin-bottom: 14px; }
  .panel {
    margin-bottom: 0px; }
  .about {
    padding-top: 45px;
    padding-bottom: 50px; }
    .about__title {
      margin-bottom: 30px; }
    .about__img {
      width: 300px;
      margin-left: 0;
      margin-right: 30px; }
    .about__text {
      padding-top: 15px; }
  .list li {
    margin-bottom: 20px; }
    .list li:last-of-type {
      margin-bottom: 0; }
  .title {
    font-size: 36px; }
  .importance {
    padding-top: 45px;
    padding-bottom: 50px; }
    .importance__img {
      display: none; }
    .importance__title {
      margin-bottom: 30px; }
    .importance__text {
      line-height: normal;
      max-width: 100%; }
      .importance__text p {
        margin-bottom: 25px; }
  .recommendations {
    margin-top: 0;
    background-color: #f27397; }
    .recommendations .case {
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
    .recommendations__desc {
      background-size: cover;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 80px;
      padding-bottom: 80px; }
      .recommendations__desc p {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px; }
        .recommendations__desc p:last-of-type {
          margin-bottom: 0; }
    .recommendations__text {
      width: 100%;
      max-width: 950px;
      padding: 35px 15px;
      margin-left: auto;
      margin-right: auto; }
      .recommendations__text .list li {
        margin-bottom: 25px; }
  .decision {
    padding-top: 40px;
    padding-bottom: 50px; }
    .decision__title {
      margin-bottom: 40px; }
    .decision__desc, .decision__text {
      width: 100%; }
    .decision__text {
      padding-left: 0;
      margin-top: 20px; }
  .product {
    padding-top: 30px;
    padding-bottom: 70px; }
    .product__item:nth-of-type(1) {
      top: 120px; }
    .product__item:nth-of-type(2) {
      top: 123px; }
    .product__item:nth-of-type(3) {
      top: 635px; }
      .product__item:nth-of-type(3) .line {
        right: -220px; }
    .product__item:nth-of-type(5) {
      right: 15px; }
    .product__item:nth-of-type(3) {
      top: 672px; }
    .product__item:nth-of-type(5) {
      top: 687px; }
  .advantages {
    padding-top: 45px;
    padding-bottom: 50px; }
    .advantages__title {
      margin-bottom: 40px;
      line-height: normal; }
    .advantages__img {
      bottom: -40px;
      width: 450px; }
    .advantages__text {
      margin-bottom: 30px; }
  .composition {
    padding-top: 45px;
    padding-bottom: 50px; }
    .composition__title {
      margin-bottom: 0; }
    .composition__data {
      width: 100%; }
    .composition__img {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .composition__data {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    .composition__img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 35px; }
  .pregnancy {
    padding-top: 40px;
    padding-bottom: 50px;
    background-position: 30% center; }
    .pregnancy__text {
      margin-left: 0; }
    .pregnancy__logo {
      margin-bottom: 0px; }
    .pregnancy__facts {
      margin-bottom: 10px; }
      .pregnancy__facts:before {
        display: none; }
      .pregnancy__facts span {
        font-size: 100px; }
    .pregnancy__img {
      display: none; }
  .for {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    background-size: cover;
    padding-bottom: 10px;
    margin-top: 0; }
    .for__wrap {
      padding-left: 0;
      padding-top: 35px;
      padding-bottom: 10px; }
    .for__head {
      padding-bottom: 30px; }
    .for__item:nth-of-type(1), .for__item:nth-of-type(3) {
      width: 340px; }
    .for__item:nth-of-type(2) {
      width: 230px; }
    .for__item_desc {
      padding-left: 0; }
      .for__item_desc:before {
        left: 15px; }
      .for__item_desc:after {
        right: 15px; }
    .for__item br {
      display: none; }
  .description {
    padding-top: 35px; }
    .description__title {
      margin-bottom: 30px; }
    .description__nav {
      height: auto;
      background-size: cover;
      padding: 35px; }
      .description__nav ul {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
      .description__nav li {
        margin-bottom: 20px; }
        .description__nav li.selected:before {
          width: 20px;
          left: -27px;
          top: 12px; }
    .description__nav, .description__tabs {
      width: 100%; }
    .description__tabs, .description__tab {
      height: auto; }
    .description__tabs {
      background-color: #f27397;
      min-height: 305px; }
    .description__text {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      background-color: #f27397;
      margin-top: 0;
      padding: 30px;
      font-size: 22px; }
  .suitable {
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 50px;
    background: none; }
    .suitable__title {
      margin-bottom: 50px; }
    .suitable__item {
      width: 33.333%;
      padding-left: 15px;
      padding-right: 15px; }
    .suitable__text {
      z-index: 5;
      position: relative; }
    .suitable__img {
      margin-bottom: 15px; }
      .suitable__img:before {
        display: none; }
  .take {
    padding-top: 20px; }
    .take__title {
      text-align: center;
      margin-bottom: 45px; }
    .take__list {
      width: 100%;
      height: auto;
      border-top: none; }
    .take__item {
      width: 50%;
      margin-top: 0;
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 40px;
      padding-left: 5px;
      padding-right: 5px; }
    .take__text {
      position: relative;
      top: auto !important;
      left: auto !important;
      right: auto !important;
      bottom: auto !important;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important;
      text-align: center;
      width: 280px !important;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px; }
    .take__num {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px; }
      .take__num:before, .take__num:after {
        display: none; }
  .bye {
    padding-top: 40px; }
    .bye__title {
      text-align: center;
      margin-bottom: 40px; }
    .bye__text {
      margin-bottom: 30px; }
    .bye__tabs {
      margin-top: 30px;
      height: 500px; }
  .faq {
    padding-top: 40px;
    margin-bottom: 0; }
    .faq__title {
      text-align: center;
      margin-bottom: 30px; }
      .faq__title span {
        display: none; }
    .faq__list {
      max-width: 100%; }
  .map {
    height: 500px; }
  .articles {
    padding-top: 15px; }
    .articles__title {
      text-align: center;
      margin-bottom: 35px; }
    .articles__wrap {
      padding: 20px;
      font-size: 22px;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px; }
  .owl-nav {
    padding-top: 14px;
    padding-bottom: 20px; }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px; }
    .footer__title {
      margin-bottom: 20px; }
    .footer__mid {
      width: -webkit-calc(100% - 181px - 40px);
      width: calc(100% - 181px - 40px);
      margin-right: 0; }
    .footer__socials {
      display: none; }
    .footer__right {
      width: 100%;
      margin-top: 15px;
      padding-top: 0; }
      .footer__right p {
        margin-bottom: 5px; }
        .footer__right p:last-of-type {
          margin-bottom: 0; }
    .footer__desc {
      font-size: 20px;
      margin-top: 20px; }
  .btn_big {
    height: 50px;
    font-size: 22px; }
  .desc {
    font-size: 26px; }
  .gray-bg {
    display: none; } }

@media screen and (max-width: 992px) {
  .case {
    width: 750px; }
  .hidden-md {
    display: block; }
  .hidden-sm {
    display: none; }
  .mobile-btn {
    margin-left: -360px; }
  .about__img {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .about__text {
    max-width: 100%; }
  .decision__wrap {
    padding-left: 0; }
  .product {
    display: none;
    padding-top: 0;
    padding-bottom: 30px; }
    .product__title {
      margin-bottom: 20px; }
    .product__img:before, .product__img:after {
      display: none; }
    .product__wrap {
      min-height: 1px; }
    .product__item {
      position: relative;
      left: auto !important;
      right: auto !important;
      top: auto !important;
      max-width: 100% !important;
      -webkit-transform: none !important;
          -ms-transform: none !important;
              transform: none !important; }
  .line {
    display: none;
    position: relative; }
  .advantages__img {
    display: none;
    width: 260px;
    right: 0; }
  .for__title {
    font-size: 30px; }
  .for__item:nth-of-type(1), .for__item:nth-of-type(3) {
    width: 265px; }
  .for__item:nth-of-type(2) {
    width: 185px; }
  .for__body .for__item {
    font-size: 20px; }
    .for__body .for__item_desc {
      font-size: 26px; }
      .for__body .for__item_desc span {
        font-size: 20px; }
  .decision__wrap {
    margin-right: 0; } }

@media screen and (max-width: 767px) {
  body {
    font-size: 18px; }
  .case {
    width: 100%; }
  .hidden-sm {
    display: block; }
  .hidden-xs {
    display: none; }
  .mobile-btn {
    margin-left: 0;
    left: 15px;
    top: 25px; }
  .desc {
    font-size: 20px; }
  .header {
    background-position: 60% -50px; }
    .header__wrap {
      max-width: 280px;
      padding-top: 25px; }
    .header__text {
      display: none; }
  .panel__logo {
    width: 90px; }
  br {
    display: none; }
  .nav {
    padding-top: 80px;
    padding-bottom: 30px;
    height: auto;
    background: #f27397; }
    .nav ul {
      width: 100%; }
    .nav li {
      font-size: 20px;
      margin-bottom: 8px; }
      .nav li:last-of-type {
        margin-bottom: 0; }
  .title {
    font-size: 26px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%; }
  .about__img {
    width: 100%; }
  .decision__desc {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center; }
  .decision__text {
    margin-top: 0; }
  .text {
    font-size: 18px;
    line-height: normal; }
  .advantages__desc {
    text-align: center; }
  .list li {
    margin-bottom: 15px; }
  .composition__logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .data__item {
    width: 50% !important;
    text-align: center !important;
    font-size: 16px !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 50px !important; }
    .data__item:nth-of-type(2) {
      display: none; }
  .pregnancy {
    background-image: none; }
  .for__head {
    padding-bottom: 10px; }
  .for__item {
    width: 50% !important; }
    .for__item:nth-of-type(2) {
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0; }
      .for__item:nth-of-type(2):before, .for__item:nth-of-type(2):after {
        display: none; }
      .for__item:nth-of-type(2) p, .for__item:nth-of-type(2) span {
        display: inline-block;
        vertical-align: middle;
        width: auto; }
      .for__item:nth-of-type(2) p {
        font-size: 18px; }
      .for__item:nth-of-type(2) span {
        margin-left: 10px;
        font-size: 16px; }
  .for__line {
    position: relative; }
  .for__title {
    font-size: 20px; }
  .for__body .for__line {
    padding-top: 30px;
    margin-bottom: 15px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: -5px;
    margin-right: -5px; }
  .for__body .for__item {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px; }
  .description__wrap {
    display: block; }
  .description__text {
    font-size: 18px; }
  .description__tabs {
    height: 305px;
    overflow: hidden; }
  .description__text {
    overflow: hidden;
    height: 283px;
    padding: 15px; }
  .suitable__title {
    margin-bottom: 30px; }
  .suitable__item {
    width: 100%;
    margin-bottom: 40px; }
    .suitable__item:last-of-type {
      margin-bottom: 0; }
  .suitable__img {
    margin-bottom: 5px; }
  .suitable__text {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto; }
  .take__item {
    padding-left: 0;
    padding-right: 0; }
  .map, .bye__tabs {
    height: 280px; }
  .articles__img {
    text-align: center; }
  .articles__wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .footer__left {
    margin-right: 0; }
  .footer__left, .footer__mid {
    width: 100%; }
  .footer__mid {
    margin-top: 10px;
    padding-bottom: 10px; }
  .select__list {
    margin-left: -100px; }
  .animated {
    -webkit-animation: none !important;
            animation: none !important; } }

@media screen and (max-width: 630px) {
  .take__item {
    width: 100%;
    margin-bottom: 35px; } }

@media screen and (max-width: 580px) {
  .header {
    background-position: 70% -60px;
    padding-top: 15px;
    position: relative; }
    .header:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(242, 115, 151, 0.5); }
    .header__wrap {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
    .header__text {
      padding: 15px; } }
